<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <table>
      <tr>
        <th>Part I Targets</th>
        <th><%= link_to "Flexible Square Example", "/flexible/square/5" %></th>
        <th><%= link_to "Flexible Square Root Example", "/flexible/square_root/8" %></th>
        <th><%= link_to "Flexible Payment Example", "/flexible/payment/410/30/250000" %></th>
        <th><%= link_to "Flexible Random Example", "/flexible/random/50/100" %></th>
      </tr>
      <tr>
        <th>Part II Targets</th>
        <th><%= link_to "Square Form", "/square/new" %></th>
        <th><%= link_to "Square Root Form", "/square_root/new" %></th>
        <th><%= link_to "Payment Form", "/payment/new" %></th>
        <th><%= link_to "Random Form", "/random/new" %></th>      </tr>
      <tr>
        <th>Part III Targets</th>
        <th><%= link_to "Word Count Form", "/word_count/new" %></th>      </tr>
        <th><%= link_to "Stats Form", "/stats/new" %></th>      </tr>
      </tr>
    </table>
  </div>
</nav>

<h1> Word Count Calculation </h1>

<form action="/word_count/results">
  <div><label for="Text">
    Text
  </label>
  <input id="Text"type="Enter some text" name="user_text">
</div>
<div><label for="special_word">
  Special word
</label>
<input id="special_word" type="Enter a particular word to count" name="user_word">
</div>

<button>
  Process text
</button>
</form>
